.home {
  background-image: url(../../assets/legumes.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home h1 {
  color: transparent;
  font-size: 5em;
  background: linear-gradient(to right, green, white, red);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: var(--fontTitle);
}

.home h2 {
  font-family: var(--fontBody);
  font-weight: lighter;
}

@media (max-width: 600px) {
  .home {
    background: none;
  }
  .home h1 {
    font-size: 3em;
  }
}
