:root {
  --firstColor: #e6ece9;
  --secondColor: #1d1d35;
  --thirdColor: #fecc00;
  --backgroundColor: #15110e;
  --fontTitle: cursive;
  --fontBody: cursive;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.App {
  font-family: var(--fontBody);
  min-height: 100vh;
  background-attachment: fixed;
  font-style: normal;
  color: var(--firstColor);
  background-size: cover;
}

input,
button,
textarea,
select {
  font: inherit;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

h1 {
  color: var(--thirdColor);
  font-size: 3.5em;
  text-shadow: 1px 1px 1px var(--secondColor);
  letter-spacing: 2px;
}

p,
h3,
h2 {
  font-family: "Source Code Pro", monospace;
}

p {
  font-weight: 400;
}

h3 {
  font-weight: 500;
}

h2 {
  font-weight: 600;
}
